.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* .header-title {
  padding: 1em 0;
  color: cadetblue;
}

.picture {
  width: 15%;
  height: auto;
}

.space-between {
  margin: 0 0.5em;
}

.space-left {
  margin-left: 1em;
}

.panda-item.media {
  flex-direction: column;
  padding: 0.5em;
  border-bottom: 1px solid black;
}

.pandaHeader {
  display: "flex";
  justify-content: "space-between";
  background-color: "#00c975";
  color: "#fff";
  padding: 3em 4.5em;
}

body {
  background-color: #00c9753b;
}
